body {
    background-color:cornflowerblue;
    color:aquamarine;
    font-family: "Chakra Petch", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    }

    button {
        background-color: cornflowerblue;
        font-family: "Chakra Petch", serif;
    }

    .passo {
        display: none;
    }

    .passo.ativo {
        display: block;
    }

    main {
        text-align: center;
        max-width: 90%;
    }

    img {

        max-width: 0%;
    }